In [2]:
# 1
def reverse_string(s):
    reversed_string = ''.join(reversed(s))
    return reversed_string

example_string = 'hello world'
reverse_string(example_string)

'dlrow olleh'

In [3]:
# 2
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count

example_string = 'hello world, this is a test string'
count_vowels(example_string)

8

In [4]:
# 3
def is_palindrome(s):
    s = ''.join(filter(str.isalnum, s)).lower()  # Remove non-alphanumeric characters and convert to lowercase
    return s == s[::-1]

example_string = 'A man, a plan, a canal, Panama'
is_palindrome(example_string)

True

In [5]:
# 4
def are_anagrams(s1, s2):
    s1 = ''.join(sorted(s1.replace(" ", "").lower()))
    s2 = ''.join(sorted(s2.replace(" ", "").lower()))
    return s1 == s2

example_string1 = 'Listen'
example_string2 = 'Silent'
are_anagrams(example_string1, example_string2)

True

In [6]:
# 5
def find_substring_occurrences(s, sub):
    start = 0
    occurrences = []
    while True:
        start = s.find(sub, start)
        if start == -1:
            break
        occurrences.append(start)
        start += len(sub)  # Move past the last found substring
    return occurrences

main_string = 'This is a test string, and this test is simple'
substring = 'test'
find_substring_occurrences(main_string, substring)

[10, 32]

In [7]:
# 6
def string_compression(s):
    if not s:
        return ""
    
    compressed = []
    count = 1
    last_char = s[0]
    
    for char in s[1:]:
        if char == last_char:
            count += 1
        else:
            compressed.append(f"{last_char}{count}")
            last_char = char
            count = 1
    
    compressed.append(f"{last_char}{count}")
    compressed_string = ''.join(compressed)
    return compressed_string if len(compressed_string) < len(s) else s

example_string = 'aabcccccaaa'
string_compression(example_string)

'a2b1c5a3'

In [8]:
# 7
def has_all_unique_chars(s):
    seen_chars = set()
    for char in s:
        if char in seen_chars:
            return False
        seen_chars.add(char)
    return True

example_string = 'abcdefg'
has_all_unique_chars(example_string)

True

In [9]:
# 8
def convert_case(s, to_upper=True):
    converted_string = ''.join([char.upper() if to_upper else char.lower() for char in s])
    return converted_string

example_string = 'Hello World'
convert_case(example_string, to_upper=False)

'hello world'

In [10]:

# 9
def count_words(s):
    words = s.split()
    return len(words)

example_string = 'Hello world, this is a test.'
count_words(example_string)

6

In [11]:
# 10
def concatenate_strings(s1, s2):
    concatenated_string = ''.join([s1, s2])
    return concatenated_string

string1 = 'hello'
string2 = 'world'
concatenate_strings(string1, string2)

'helloworld'

In [12]:
# 11
def remove_element(lst, element):
    filtered_list = list(filter(lambda x: x != element, lst))
    return filtered_list

example_list = [1, 2, 3, 4, 2, 2, 5]
element_to_remove = 2
remove_element(example_list, element_to_remove)

[1, 3, 4, 5]

In [13]:
# 12
def second_largest(lst):
    if len(lst) < 2:
        return None
    first = second = float('-inf')
    for num in lst:
        if num > first:
            first, second = num, first
        elif first > num > second:
            second = num
    return second if second != float('-inf') else None

example_list = [1, 2, 3, 4, 5, 5]
second_largest(example_list)

4

In [14]:
# 13
def count_occurrences(lst):
    count_dict = {}
    for item in lst:
        count_dict[item] = count_dict.get(item, 0) + 1
    return count_dict

example_list = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
count_occurrences(example_list)

{1: 1, 2: 2, 3: 3, 4: 4}

In [15]:
# 14
def reverse_list_in_place(lst):
    left, right = 0, len(lst) - 1
    while left < right:
        lst[left], lst[right] = lst[right], lst[left]
        left += 1
        right -= 1

example_list = [1, 2, 3, 4, 5]
reverse_list_in_place(example_list)
example_list

[5, 4, 3, 2, 1]

In [16]:
# 15
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

example_list = [1, 2, 2, 3, 4, 4, 5]
remove_duplicates(example_list)

[1, 2, 3, 4, 5]

In [17]:
# 16
def is_sorted(lst):
    ascending = all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))
    descending = all(lst[i] >= lst[i + 1] for i in range(len(lst) - 1))
    return ascending or descending

example_list = [1, 2, 3, 4, 5]
is_sorted(example_list)

True

In [18]:
# 17
def merge_sorted_lists(lst1, lst2):
    merged_list = []
    i = j = 0
    while i < len(lst1) and j < len(lst2):
        if lst1[i] < lst2[j]:
            merged_list.append(lst1[i])
            i += 1
        else:
            merged_list.append(lst2[j])
            j += 1
    merged_list.extend(lst1[i:])
    merged_list.extend(lst2[j:])
    return merged_list

list1 = [1, 3, 5]
list2 = [2, 4, 6]
merge_sorted_lists(list1, list2)

[1, 2, 3, 4, 5, 6]

In [19]:
# 18
def find_intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))

list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
find_intersection(list1, list2)

[3, 4]

In [20]:
# 19
def find_union(lst1, lst2):
    return list(set(lst1) | set(lst2))

list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
find_union(list1, list2)

[1, 2, 3, 4, 5, 6]

In [21]:
# 20
import random

def shuffle_list(lst):
    for i in range(len(lst) - 1, 0, -1):
        j = random.randint(0, i)
        lst[i], lst[j] = lst[j], lst[i]
    return lst

example_list = [1, 2, 3, 4, 5]
shuffle_list(example_list)

[2, 4, 1, 3, 5]

In [22]:
# 21
def common_elements_in_tuples(t1, t2):
    return tuple(set(t1) & set(t2))

tuple1 = (1, 2, 3, 4)
tuple2 = (3, 4, 5, 6)
common_elements_in_tuples(tuple1, tuple2)

(3, 4)

In [27]:
# 22
def prompt_and_find_intersection():
    set1 = set(map(int, input("Enter the first set of integers separated by commas: ").split(',')))
    set2 = set(map(int, input("Enter the second set of integers separated by commas: ").split(',')))
    intersection = set1 & set2
    return intersection


print("Intersection of the two sets:", prompt_and_find_intersection())

Enter the first set of integers separated by commas:  1,2,3,4,5
Enter the second set of integers separated by commas:  7,8,3,2,45

Intersection of the two sets: {2, 3}

In [28]:
# 23
def concatenate_tuples(t1, t2):
    return t1 + t2

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenate_tuples(tuple1, tuple2)

(1, 2, 3, 4, 5, 6)

In [33]:
# 24
def prompt_sets_difference():
    set1 = set(input("Enter the first set of strings separated by commas: ").split(','))
    set2 = set(input("Enter the second set of strings separated by commas: ").split(','))
    difference = set1 - set2
    return difference
print(f"Elements in the first set but not in the second set:", prompt_sets_difference())

Enter the first set of strings separated by commas:  1,2,3,4,5
Enter the second set of strings separated by commas:  3,4,5,6,7

Elements in the first set but not in the second set: {'2', '1'}

In [34]:
# 25
def tuple_slice(t, start, end):
    return t[start:end+1]

example_tuple = (1, 2, 3, 4, 5, 6)
start_index = 2
end_index = 4
tuple_slice(example_tuple, start_index, end_index)

(3, 4, 5)

In [35]:
# 26
def prompt_sets_union():
    set1 = set(input("Enter the first set of characters separated by commas: ").split(','))
    set2 = set(input("Enter the second set of characters separated by commas: ").split(','))
    union = set1 | set2
    return union
print(f"Union of the two sets:",prompt_sets_union())

Enter the first set of characters separated by commas:  1,2,3,4,5,6,6
Enter the second set of characters separated by commas:  45,67,87,54

Union of the two sets: {'3', '4', '54', '1', '87', '5', '45', '67', '6', '2'}

In [36]:
# 27
def tuple_min_max(t):
    min_val, max_val = min(t), max(t)
    return min_val, max_val

example_tuple = (4, 1, 3, 5, 2)
tuple_min_max(example_tuple)

(1, 5)

In [38]:
# 28
def set_operations():
    set1 = {1, 2, 3, 4}
    set2 = {3, 4, 5, 6}
    union = set1 | set2
    intersection = set1 & set2
    difference = set1 - set2
    print(f"Union: {union}")
    print(f"Intersection: {intersection}")
    print(f"Difference: {difference}")


set_operations()

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

In [40]:
def count_element(t, element):
    return t.count(element)

example_tuple = (1, 2, 2, 3, 3, 3, 4, 4, 4, 4)
element_to_count = 3
count_element(example_tuple, element_to_count)

3

In [41]:
# 30
def prompt_symmetric_difference():
    set1 = set(input("Enter the first set of strings separated by commas: ").split(','))
    set2 = set(input("Enter the second set of strings separated by commas: ").split(','))
    symmetric_difference = set1 ^ set2
    print(f"Symmetric difference of the two sets: {symmetric_difference}")
prompt_symmetric_difference()

Enter the first set of strings separated by commas:  1,2,3,4,5,3
Enter the second set of strings separated by commas:  23,45,3,4,5,6

Symmetric difference of the two sets: {'23', '6', '1', '2', '45'}

In [42]:
# 31
def word_frequencies(words):
    frequency = {}
    for word in words:
        frequency[word] = frequency.get(word, 0) + 1
    return frequency

example_words = ["apple", "banana", "apple", "orange", "banana", "apple"]
word_frequencies(example_words)

{'apple': 3, 'banana': 2, 'orange': 1}

In [43]:
# 32
def merge_dictionaries(d1, d2):
    merged = d1.copy()
    for key, value in d2.items():
        if key in merged:
            merged[key] += value
        else:
            merged[key] = value
    return merged

dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}
merge_dictionaries(dict1, dict2)

{'a': 1, 'b': 5, 'c': 7, 'd': 5}

In [44]:
# 33
def access_nested_dict(d, keys):
    for key in keys:
        if key in d:
            d = d[key]
        else:
            return None
    return d

nested_dict = {'a': {'b': {'c': 42}}}
keys_list = ['a', 'b', 'c']
access_nested_dict(nested_dict, keys_list)

42

In [45]:
# 34
def sort_dict_by_values(d, ascending=True):
    return dict(sorted(d.items(), key=lambda item: item[1], reverse=not ascending))

example_dict = {'a': 3, 'b': 1, 'c': 2}
sort_dict_by_values(example_dict, ascending=True)

{'b': 1, 'c': 2, 'a': 3}

In [46]:
# 35
def invert_dict(d):
    inverted = {}
    for key, value in d.items():
        if value not in inverted:
            inverted[value] = [key]
        else:
            inverted[value].append(key)
    return inverted

example_dict = {'a': 1, 'b': 2, 'c': 1}
invert_dict(example_dict)

{1: ['a', 'c'], 2: ['b']}